.elements{
    width: calc(100% - 2 * 200px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(361px, 1fr));
    gap: 17px 20px;
    margin: 0 auto 0;
    padding: 46.25px 0 0px;
    justify-items: center;
    border: 1px red solid;
}

@media screen and (max-width: 1024px) {
    .elements {
       width: calc(100% - 2 * 100px);
    }
}

@media screen and (max-width: 425px) {
    .elements {
        width: calc(100% - 2 * 19px);

    }
}